---
import { createQuoteDocumentView } from '../server/quote-document-view';
import { buildQuoteBrandUrls } from '../shared/quote-brand-urls';
import {
  QUOTE_DOCUMENT_CSS,
  renderQuoteDocumentBody,
} from '../shared/quote-document-template';
import type { Company, Quote } from '../server/types';

interface Props {
  quote: Quote;
  company: Company;
}

const { quote, company } = Astro.props;
const view = createQuoteDocumentView({ quote, company });
const brandUrls = buildQuoteBrandUrls(company);
---

<style is:global set:html={QUOTE_DOCUMENT_CSS}></style>
<div class="quote-document-frame">
  <Fragment set:html={renderQuoteDocumentBody(view, brandUrls)} />
</div>
